---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>oden 🍢</h1>

  <main>
    <div>
      <p>A craft React UI component library.</p>
      <p>
        "Oden" is a traditional Japanese stew. The triangular-shaped konjac, the
        round-shaped ganmodoki (deep-fried tofu mixed with thinly sliced
        vegetables), and the long and thin chikuwa (fish cake) resemble the
        shapes of UI components.
      </p>
      <a href='https://oden.pages.dev' target='_blank' rel='noopener noreferrer'
        >Storybook ↗</a
      >
    </div>

    <section>
      <h2>License</h2>
      <p>
        Licensed under the MIT License, Copyright © 2024-present
        <a href='https://shikakun.com' target='_blank' rel='noopener noreferrer'
          >@shikakun</a
        >.
      </p>
      <p>
        See <a
          href='https://github.com/shikakun/oden/blob/main/LICENSE'
          target='_blank'
          rel='noopener noreferrer'>LICENSE</a
        > for more information.
      </p>
    </section>
  </main>
</Layout>
